<div class="container w-100">

    <div class="row w-100 mt-5">
      <div class="col-md-12">
        <h1 class="text-monospace text-center"> Olá, sejam bem vindes ao meu blog! </h1>
      </div>
    </div>
  
    <div class="row w-100 mt-4 mb-4">
      <div class="col-md-12">
        <p class="text-justify text-monospace">
          Sou formado em Jornalismo e atuei na área por 6 anos, ao longo desse período em que trabalhei como jornalista tive oportunidade de circular por todas as áreas possíveis, entre elas a tecnologia, fiquei encantado logo de cara por esse universo de possibilidades. Desde então, me desafiei a realizar mais um sonho e unir as duas paixões, comunicação e tecnologia. Comunicativo, curioso e ousado acredito no poder de transformação que a tecnologia tem na sociedade.  
        </p>
      </div>
    </div>
  </div>
  
    <div class="parallax"></div>
  
    <div class="row w-100 mt-5 mb-5">
      <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
      </div>
    </div>
  
