<div class="card border-0" style="width: 18rem;">
  <div class="d-flex justify-content-center">
    <img class="card-img-top rounded-circle w-75" src="https://scontent.fsdu11-1.fna.fbcdn.net/v/t31.0-8/10382109_251974245009299_6145638228674972979_o.jpg?_nc_cat=105&_nc_sid=174925&_nc_eui2=AeHmxIIN0d737Y3QSS0IN27VB39srP1A6eEHf2ys_UDp4cElkaJi2W515f0-yz9aEDcHaGIXwtlvyLQ9-clf6mMf&_nc_ohc=z2htsNvNzUAAX8OQLUW&_nc_ht=scontent.fsdu11-1.fna&oh=53ea9d3637d8c1b632232ae203fc899b&oe=5F698584" alt="Imagem de capa do card">
  </div>

  <div class="card-body">
    <h5 class="card-title text-center text-monospace">{{nome}}</h5>
    <p class="card-text text-center text-monospace">Desenvolvedor Web Java Junior</p>

    <a href="https://www.linkedin.com/in/bruno-moura-37404282/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

    <a href="https://github.com/BrunoMouraB" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

  </div>
</div>